{% extends 'base.html' %}
{% load i18n static %}

{% block head_title %}{{ document.name }}{% endblock %}

{% block body %}
    {% if not request.user.legacy_mode %}
    <div id="document-dashboard">
        <document-dashboard
            :id={{ document_id }}
            :search-disabled="{% if DISABLE_ELASTICSEARCH %}true{% else %}false{% endif %}"
            :markdown-enabled="{% if EXPORT_OPENITI_MARKDOWN_ENABLED %}true{% else %}false{% endif %}"
            :tei-enabled="{% if EXPORT_TEI_XML_ENABLED %}true{% else %}false{% endif %}"
        ></document-dashboard>
    </div>
    {% else %}
        {% translate "This page is not available in legacy mode. Visit your user settings to disable legacy mode." %}
    {% endif %}
{% endblock %}

{% block extrascript %}
    {% if not request.user.legacy_mode %}
        <script src="{% static 'documentDashboard.js' %}"></script>
    {% endif %}
{% endblock extrascript %}

{% block extrastyle %}
    {% if not request.user.legacy_mode %}
        <link href="{% static 'documentDashboard.css' %}" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock extrastyle %}
